* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

/* Variables */
:root {
  --mainfont: "Sansita", sans-serif;
  --maincolour: #222;
  --subcolour: #999;
  --logocolour: #94bbe9;
}

#menubar {
  display: none;
}

.navbar {
  position: sticky;
  background-color: var(--maincolour);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  top: 0;
}

.navbar_container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlogo {
  display: flex;
  justify-content: start;
  align-items: start;
}

.navimg {
  width: 22%;
  height: auto;
}

.navimg img {
  width: 100%;
  height: auto;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.navlogo a {
  font-family: var(--mainfont);
  font-size: 40px;
  color: var(--subcolour);
  text-decoration: none;
  color: var(--logocolour);
  margin-top: 0.7rem;
  max-width: 45px;
  min-width: 42px;
}

.navlogo a:hover {
  color: #999;
  transition: all 0.5s ease;
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.6rem;
}

.navlinkss {
  text-decoration: none;
  color: var(--subcolour);
  font-size: 17px;
  font-weight: 700;
}

.navlinkss:hover {
  color: var(--logocolour);
  transition: all 0.5s ease;
}

.navbtn {
  width: 100%;
  height: auto;
  margin-right: 3rem;
}

.navbtn button {
  width: 100%;
  height: auto;
  background-color: var(--logocolour);
  color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

.navbtn button:hover {
  background-color: var(--subcolour);
  transition: all 0.5s ease;
  color: var(--maincolour);
}

@media screen and (max-width: 1140px) {
  #menubar {
    display: none;
  }

  .navbar {
    background-color: var(--maincolour);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar_container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlogo {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0, 6rem;
  }

  .navimg {
    width: 22%;
    height: auto;
  }

  .navimg img {
    width: 100%;
    height: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navlogo a {
    font-family: var(--mainfont);
    font-size: 30px;
    color: var(--subcolour);
    text-decoration: none;
    color: #94bbe9;
    margin-top: 1rem;
    max-width: 35px;
    min-width: 32px;
  }

  .navlogo a:hover {
    color: #999;
    transition: all 0.5s ease;
  }

  .navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.8rem;
  }

  .navlinkss {
    text-decoration: none;
    color: var(--subcolour);
    font-size: 15px;
    font-weight: 600;
  }

  .navlinkss:hover {
    color: var(--logocolour);
    transition: all 0.5s ease;
  }

  .navbtn {
    width: 70%;
    height: auto;
    margin-right: 2.5rem;
  }

  .navbtn button {
    width: 100%;
    height: auto;
    background-color: var(--logocolour);
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
  }

  .navbtn button:hover {
    background-color: var(--subcolour);
    transition: all 0.5s ease;
    color: var(--maincolour);
  }
}

/* Mobile Responsive */

@media screen and (max-width: 540px) {
  .navbar {
    background-color: var(--maincolour);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menubar {
    display: block;
    color: var(--logocolour);
    padding-right: 2rem;
    cursor: pointer;
  }

  .navbar_container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlogo {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .navimg {
    width: 22%;
    height: auto;
  }

  .navimg img {
    width: 100%;
    height: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navlogo a {
    font-family: var(--mainfont);
    font-size: 40px;
    color: var(--subcolour);
    text-decoration: none;
    color: #94bbe9;
    margin-top: 0.7rem;
    max-width: 45px;
    min-width: 42px;
  }

  .navlogo a:hover {
    color: #999;
    transition: all 0.5s ease;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 2.6rem;
    display: none;
  }

  .navlinkss {
    text-decoration: none;
    color: var(--subcolour);
    font-size: 17px;
    font-weight: 700;
  }

  .navlinkss:hover {
    color: #80253a;
    transition: all 0.5s ease;
  }

  .navbtn {
    width: 100%;
    height: auto;
    margin-right: 3rem;
  }

  .navbtn button {
    width: 100%;
    height: auto;
    background-color: #80253a;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
  }

  .navbtn button:hover {
    background-color: var(--subcolour);
    transition: all 0.5s ease;
    color: var(--maincolour);
  }
}

/* Main Section */
.main {
  background-color: var(--maincolour);
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  padding: 0 50px;
}

.main_content {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-height: 3.2rem;
}

.mainsecondh1 {
  background: linear-gradient(135deg, #94bbe9, #4bb3c3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--mainfont);
  display: block;
}

.main_content h1 {
  font-size: 3.6rem;
  font-size: 700;
  font-family: var(--mainfont);
  color: var(--logocolour);
}

.main_content h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--mainfont);
  background: linear-gradient(
    180deg,
    rgba(64, 5, 5, 1) 0%,
    rgba(31, 31, 82, 1) 0%,
    rgba(37, 125, 156, 1) 79%,
    rgba(40, 169, 191, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2.2rem;
}

.main_content p {
  font-size: 1.05rem;
  color: whitesmoke;
  font-weight: 650;
}

.mainbtn {
  width: 40%;
  height: auto;
  padding: 0.6rem 0;
  font-size: 18.5px;
  border-radius: 0.7rem;
  cursor: pointer;
  font-weight: 600;
  color: whitesmoke;
  background: linear-gradient(
    90deg,
    rgba(64, 5, 5, 1) 0%,
    rgba(31, 31, 82, 1) 0%,
    rgba(37, 125, 156, 1) 79%,
    rgba(40, 169, 191, 1) 100%
  );
  border: none;
  outline: none;
  position: relative;
  z-index: 2;
}

.mainbtn::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--subcolour);
  transition: all 0.35s;
  border-radius: 0.7rem;
  z-index: -2;
}

.mainbtn:hover {
  color: #222;
}

.mainbtn:hover::after {
  width: 100%;
}

.main_container_img {
  width: 45%;
  height: auto;
}

.main_container_img img {
  width: 100%;
  height: auto;
}

/* Tablet Responsive */
@media screen and (max-width: 1140px) {
  .main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    padding: 0 35px;
  }

  .main_content h1 {
    font-size: 2.5rem;
    font-size: 600;
    font-family: var(--mainfont);
    color: var(--logocolour);
    line-height: 2.2rem;
  }

  .main_content h2 {
    line-height: 2.2rem;
    font-size: 2.15rem;
    font-weight: 500;
    font-family: var(--mainfont);
    background: linear-gradient(
      180deg,
      rgba(64, 5, 5, 1) 0%,
      rgba(31, 31, 82, 1) 0%,
      rgba(37, 125, 156, 1) 79%,
      rgba(40, 169, 191, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2.2rem;
  }
  .main_content p {
    font-size: 0.75rem;
    color: whitesmoke;
    font-weight: 650;
  }

  .mainbtn {
    width: 30%;
    height: auto;
    padding: 0.6rem 0;
    font-size: 11px;
    border-radius: 0.7rem;
    cursor: pointer;
    font-weight: 600;
    color: whitesmoke;
    background: linear-gradient(
      90deg,
      rgba(64, 5, 5, 1) 0%,
      rgba(31, 31, 82, 1) 0%,
      rgba(37, 125, 156, 1) 79%,
      rgba(40, 169, 191, 1) 100%
    );
    border: none;
    outline: none;
    position: relative;
    z-index: 2;
  }
}

/* Mobile Responsive */
@media screen and (max-width: 540px) {
  .main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .main_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    text-align: center;
    margin-top: 3.3rem;
  }

  .main_content h1 {
    font-size: 2.8rem;
    font-size: 600;
    font-family: var(--mainfont);
    text-align: center;
    line-height: 2.5rem;
  }

  .mainsecondh1 {
    background: linear-gradient(135deg, #94bbe9, #4bb3c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--mainfont);
    display: inline;
  }

  .main_content h2 {
    font-size: 2.3rem;
    font-weight: 500;
    font-family: var(--mainfont);
    background: linear-gradient(
      180deg,
      rgba(64, 5, 5, 1) 0%,
      rgba(31, 31, 82, 1) 0%,
      rgba(37, 125, 156, 1) 79%,
      rgba(40, 169, 191, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main_content p {
    font-size: 1.15rem;
    color: whitesmoke;
    font-weight: 850;
    text-align: center;
    margin-bottom: 1.3rem;
  }

  .mainbtn {
    width: 30%;
    height: auto;
    padding: 0.6rem 0;
    font-size: 14px;
    border-radius: 0.7rem;
    cursor: pointer;
    font-weight: 600;
    color: whitesmoke;
    background: linear-gradient(
      90deg,
      rgba(64, 5, 5, 1) 0%,
      rgba(31, 31, 82, 1) 0%,
      rgba(37, 125, 156, 1) 79%,
      rgba(40, 169, 191, 1) 100%
    );
    border: none;
    outline: none;
    position: relative;
    z-index: 2;
    margin-bottom: 3.5rem;
  }

  .main_container_img {
    width: 85%;
    height: auto;
  }

  .main_container_img img {
    width: 100%;
    height: auto;
  }
}

/* Services Section */

.servh1 {
  background: linear-gradient(
    350deg,
    rgba(64, 5, 5, 1) 0%,
    rgba(31, 31, 82, 1) 0%,
    rgba(37, 125, 156, 1) 79%,
    rgba(40, 169, 191, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2rem;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
  margin-top: 6rem;
  text-align: center;
}

.service_section {
  background-color: var(--maincolour);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  column-gap: 4rem;
}

.service_card {
  background-image: url("/xu-haiwei-fv1EFjgIb94-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service_card:hover {
  transform: scale(1.08);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.service_cardtwo {
  background-image: url("/taitopia-render-rA13-oNSfh4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: absolute;
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service_cardtwo:hover {
  transform: scale(1.08);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.service_container h2 {
  position: absolute;
  top: 200px;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--subcolour);
  margin-top: 1.5rem;
  text-align: center;
}

.service_container p {
  position: absolute;
  top: 268px;
  font-size: 0.85rem;
  font-weight: 650;
  color: whitesmoke;
  text-align: center;
}

.service_container button {
  position: absolute;
  top: 320px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  color: var(--maincolour);
  background-color: var(--subcolour);
  border: none;
  outline: none;
}

.service_container button:hover {
  background-color: whitesmoke;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1240px) {
  .service_container p {
    position: absolute;
    top: 285px;
    font-size: 0.9rem;
    font-weight: 650;
    color: whitesmoke;
    text-align: center;
  }
}

@media screen and (max-width: 980px) {
  .service_card {
    background-image: url("/xu-haiwei-fv1EFjgIb94-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 36%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service_cardtwo {
    background-image: url("/taitopia-render-rA13-oNSfh4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    position: relative;
    width: 36%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    column-gap: 2.5rem;
  }
}

@media screen and (max-width: 680px) {
  .service_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    row-gap: 4rem;
  }

  .service_card,
  .service_cardtwo {
    width: 80%;
  }

  .servh1 {
    background: linear-gradient(
      350deg,
      rgba(64, 5, 5, 1) 0%,
      rgba(31, 31, 82, 1) 0%,
      rgba(37, 125, 156, 1) 79%,
      rgba(40, 169, 191, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2.5rem;
    padding-top: 8rem;
    text-align: center;
  }
}

/* footer Section */
.footer {
  width: 100%;
  height: 100%;
  background-color: var(--maincolour);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.footer a {
  text-decoration: none;
  color: var(--subcolour);
}

.footer h3 {
  color: var(--logocolour);
}

.footer a:hover {
  color: whitesmoke;
  transform: scale(1.09);
  transition: all 0.35s ease;
}

.footone {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.foottwo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.footthree {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
