* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

/* Variables */
:root {
  --mainfont: "Sansita", sans-serif;
  --maincolour: #222;
  --subcolour: #999;
  --logocolour: #94bbe9;
}

#menubar {
  display: none;
}

.navbar {
  position: sticky;
  background-color: var(--maincolour);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlogo {
  display: flex;
  justify-content: start;
  align-items: start;
}

.navimg {
  width: 22%;
  height: auto;
}

.navimg img {
  width: 100%;
  height: auto;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.navlogo a {
  font-family: var(--mainfont);
  font-size: 40px;
  color: var(--subcolour);
  text-decoration: none;
  color: var(--logocolour);
  margin-top: 0.7rem;
  max-width: 45px;
  min-width: 42px;
}

.navlogo a:hover {
  color: #999;
  transition: all 0.5s ease;
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.6rem;
}

.navlinkss {
  text-decoration: none;
  color: var(--subcolour);
  font-size: 17px;
  font-weight: 700;
}

.navlinkss:hover {
  color: var(--logocolour);
  transition: all 0.5s ease;
}

.navbtn {
  width: 100%;
  height: auto;
  margin-right: 3rem;
}

.navbtn button {
  width: 100%;
  height: auto;
  background-color: var(--logocolour);
  color: whitesmoke;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

.navbtn button:hover {
  background-color: var(--subcolour);
  transition: all 0.5s ease;
  color: var(--maincolour);
}

@media screen and (max-width: 1140px) {
  #menubar {
    display: none;
  }

  .navbar {
    background-color: var(--maincolour);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar_container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlogo {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0, 6rem;
  }

  .navimg {
    width: 22%;
    height: auto;
  }

  .navimg img {
    width: 100%;
    height: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navlogo a {
    font-family: var(--mainfont);
    font-size: 30px;
    color: var(--subcolour);
    text-decoration: none;
    color: #94bbe9;
    margin-top: 1rem;
    max-width: 35px;
    min-width: 32px;
  }

  .navlogo a:hover {
    color: #999;
    transition: all 0.5s ease;
  }

  .navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.8rem;
  }

  .navlinkss {
    text-decoration: none;
    color: var(--subcolour);
    font-size: 15px;
    font-weight: 600;
  }

  .navlinkss:hover {
    color: var(--logocolour);
    transition: all 0.5s ease;
  }

  .navbtn {
    width: 100%;
    height: auto;
    margin-right: 2.5rem;
  }

  .navbtn button {
    width: 100%;
    height: auto;
    background-color: var(--logocolour);
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
  }

  .navbtn button:hover {
    background-color: var(--subcolour);
    transition: all 0.5s ease;
    color: var(--maincolour);
  }
}

/* Mobile Responsive */

@media screen and (max-width: 540px) {
  .navbar {
    background-color: var(--maincolour);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menubar {
    display: block;
    color: var(--logocolour);
    padding-right: 2rem;
    cursor: pointer;
  }

  .navbar_container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navlogo {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0, 6rem;
  }

  .navimg {
    width: 22%;
    height: auto;
  }

  .navimg img {
    width: 100%;
    height: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navlogo a {
    font-family: var(--mainfont);
    font-size: 40px;
    color: var(--subcolour);
    text-decoration: none;
    color: #94bbe9;
    margin-top: 0.7rem;
    max-width: 45px;
    min-width: 42px;
  }

  .navlogo a:hover {
    color: #999;
    transition: all 0.5s ease;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 2.6rem;
    display: none;
  }

  .navlinkss {
    text-decoration: none;
    color: var(--subcolour);
    font-size: 17px;
    font-weight: 700;
  }

  .navlinkss:hover {
    color: #80253a;
    transition: all 0.5s ease;
  }

  .navbtn {
    width: 100%;
    height: auto;
    margin-right: 3rem;
  }

  .navbtn button {
    width: 100%;
    height: auto;
    background-color: #80253a;
    color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
  }

  .navbtn button:hover {
    background-color: var(--subcolour);
    transition: all 0.5s ease;
    color: var(--maincolour);
  }
}

/* Main Section */
.main {
  background-color: var(--maincolour);
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  padding: 0 50px;
}

.main_content {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  line-height: 2.8rem;
}

.mainfirsth1 {
  color: var(--logocolour);
}

.mainsecondh1 {
  background: linear-gradient(135deg, #94bbe9, #4bb3c3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_content h1 {
  font-size: 3.6rem;
  font-size: 700;
  font-family: var(--mainfont);
}

.main_content h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--mainfont);
  background: linear-gradient(
    180deg,
    rgba(64, 5, 5, 1) 0%,
    rgba(31, 31, 82, 1) 0%,
    rgba(37, 125, 156, 1) 79%,
    rgba(40, 169, 191, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_content p {
  font-size: 1.05rem;
  color: whitesmoke;
  font-weight: 650;
}

.mainbtn {
  width: 40%;
  height: auto;
  padding: 0.6rem 0;
  font-size: 18.5px;
  border-radius: 0.7rem;
  cursor: pointer;
  font-weight: 600;
  color: whitesmoke;
  background: linear-gradient(
    90deg,
    rgba(64, 5, 5, 1) 0%,
    rgba(31, 31, 82, 1) 0%,
    rgba(37, 125, 156, 1) 79%,
    rgba(40, 169, 191, 1) 100%
  );
  border: none;
  outline: none;
}

.main_container_img {
  width: 40%;
  height: auto;
}

.main_container_img img {
  width: 100%;
  height: auto;
}
